.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 0.75em;
  padding: 1.5em;
  width: 450px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 0.3em 1.25em rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-size: 1.125em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.modal-body label {
  font-weight: bold;
  margin-bottom: 0.25em;
  display: block;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 0.0625em solid #ccc;
  font-size: 1em;
  box-sizing: border-box;
}

.modal-body textarea {
  resize: vertical;
  min-height: 5em;
}

.modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  transition: 0.2s;
}

.modal-close:hover {
  color: #000;
}

@media (max-width: 451px) {
  .modal-content {
    width: 350px;
  }
}