.container-nav {
  /* background-color: #bfbab1; */
  background-color: #68645f;
  display: flex;
  height: 50px;
}

.navigation {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.3em;
  padding: 0.5em 0.75em;
  flex: 1;
}

.main-nav,
.group-nav {
  display: flex;
  align-items: stretch;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 0em 0.75em;
  box-sizing: border-box;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.btn-logout {
  background-color: transparent;
  border: none;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-item.active {
  position: relative;
}
.nav-item.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);

  transform-origin: left;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
