.container-nav {

}

.navigation {
    display: flex;
    padding: 1em 0.5em;
    justify-content: space-between;
    gap: 0.3em
}

.nav-item {
    cursor: pointer;
    padding: 0.5em 0.75em;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #000;
    text-decoration: none;
    background-color: #eeeeee;
    transition: background-color 0.3s;
}

.nav-item.active {
    background-color: #ddd;
}
.nav-item:hover {
    background-color: #ddd;
}
